body {
	min-width: 960px;
	margin: 0;
	padding: 0;
	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	color: #ffffff;
	background-image: url("../img/bg.jpg");
	background-color: #000000;
	background-position: top center;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

.btn {
	font: inherit;
	text-align: center;
	white-space: nowrap;
	color: #000000;
	vertical-align: middle;
	text-transform: uppercase;
	background-color: #ffffff;
	border: none;
}

.btn:hover,
.btn:focus,
.btn:active {
	background-color: #663d15;
}

.main-header {
	background-color: black;
}

.main-header .container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.main-nav-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: black;
	margin-bottom: 60px;
}

.main-navigation {
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;

}

.site-navigation,
.user-block {
	list-style: none;
	margin: 0;
	padding: 0;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
}

.user-block {
	display: flex;
	position: relative;

}

.user-block a {
	line-height: 60px;
	vertical-align: middle;
	padding-left: 65px;
	padding-right: 20px;

}

.user-block a::before {
	content: '';
	position: absolute;
	top: 23px;
	left: 40px;
	width: 15px;
	height: 15px;
	background-image: url("../img/login-arrow.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.user-block a:hover::before,
.user-block a:focus::before,
.user-block a:active::before {
	opacity: 1;
}

.site-navigation a,
.user-block a {
	color: #ffffff;
}

.site-navigation a {
	display: block;
	padding: 20px 25px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-block a:hover,
.user-block a:focus {
	background-color: #242424;
}

main.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.index-logo {
	margin: 0 auto;
	width: 370px;
	margin-bottom: 75px;
}

.features {
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.features-item {
	text-align: center;
	flex-basis: 300px;
	margin: 0 10px;
	margin-bottom: 80px;
}

.features-item b {
	position: relative;
	display: block;
	font-size: 30px;
	line-height: 42px;
	margin-bottom: 66px;
}

.features-item b::after {
	position: absolute;
	top: 53px;
	left: 50%;
	margin-left: -10px;
	content: "";
	width: 20px;
	height: 20px;
	background-color: #f7f4f1;
	transform: rotate(45deg);
}

.features-item p {
	margin: 0;
	padding: 0 10px;
}

.index-content-title h2 {
	font-size: 30px;
	line-height: 42px;
}

.news-preview {
	list-style: none;
	margin: 0;
	padding: 0;
}

.news-preview li {
	text-align: left;
}

/*.index-bg {*/
	/*color: #242424;*/
	/*background-color: white;*/
	/*background-image: url("../img/patern-light.jpg");*/
	/*background-position: 0 0;*/
	/*background-repeat: repeat;*/
	/*padding-bottom: 10px;*/
/*}*/

.index-content{
	display: flex;
	justify-content: space-between;
	color: #242424;
	background-color: white;
	background-image: url("../img/patern-light.jpg");
	background-position: 0 0;
	background-repeat: repeat;
	padding-bottom: 10px;
}



div.index-content.first {
	 margin-bottom: 35px;
}

div.index-content.second {
	margin-bottom: 65px;
}

.index-content-right {
	flex-basis: 380px;
	padding: 50px 80px;
}

.index-content-left {
	flex-basis: 300px;
	padding: 50px 80px;
}

.news-preview time {
	text-transform: none;
}

.galary img {
	background-color: #825050;
	border: 1px solid #ffffff;
}

.index-content-right a {
	color: #000000;
}

.booking input {
	font: inherit;
	background-color: transparent;
	border: 2px solid #000000;
}

.booking input:focus {
	border: 2px solid #663d15;
}

.booking label {
	font: inherit;
}

.main-footer {
	color: #ffffff;
	background-color: #252525;
	background-image: url("../img/patern-dark.jpg");
	background-repeat: repeat;
	background-position: 0 0;
}

.main-footer .footer-flex {
		display: flex;
}

.main-footer p {
	margin: 0;
}

.main-footer .container {
	margin: 0 auto;
	width: 940px;
	padding: 0 10px;
	padding-top: 65px;
	padding-bottom: 45px;
}
.footer-contacts {
	flex-basis: 320px;
}

.footer-social {
	flex-basis: 150px;
	margin-left: 60px;
}

.footer-developers {
	margin-left: auto;
}

.footer-contacts p {
	margin-top: 0;
	margin-bottom: 0;
}

.footer-contacts a {
	text-decoration: underline;
	color: #ffffff;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
	text-decoration: none;
}

.footer-social {
	text-align: center;
}

.footer-developers {
	text-align: center;
}

.footer-developers a:hover,
.footer-developers a:focus {
	color: #ffffff;
	background-color: #663d15;
}